extends baseEmail

block content
    p Hi Admin,
    p You have a new message from contact us :
    p message: #{message} 
    p from user: #{name} 
    p Email: #{subscriberEmail} 
    p contact: #{contact}
