extends baseEmail

block content
  p Hi #{firstName},
  p Your booking for tour: #{tourName} has been sent to the davsafaris team and we shall work on you shortly.
  p 
  p Thank you for touring with us
  