extends baseEmail

block content
  p Hi #{firstName},
  p  Thank you for reviewing our tour: #{tourName} 🎉
  p your feedback is so important to us!
 
  p If you need any help booking a tour, please don't hesitate to contact us!
  p  support@davsafaris.com