extends baseEmail

block content
  p Hi Admin,
  p The following keywords for #{tour}  have been successfully submitted to google to be indexed for  better search engine optimization
  p keywords: #{keywords}


   













//- extends baseEmail

//- block content
//-   p Hi Admin,
//-   p The following keywords for: #{tour}  have been successfully submitted to google to be indexed for  better search engine optimization 
//-   p keywords: #{keywords} 
 